body {
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/e8/50/a3/e850a34234b02d2ccece68c65aa8338a.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/***** MAIN *****/
/* Crear cuenta #1 */
.main-section {
    margin: 0 auto;
    margin-top: 25%;
    padding: 0;
}
.modal-content {
    background-color: rgb(255, 255, 255);
    opacity: .85;
    padding: 0 20px;
    border-radius: 14px;
    
}
.user-img {
    margin-top: -50px;
    margin-bottom: 35px;
}
.user-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #9e9a9ed5;
}

.img-login {
    margin-top: -50px;
    margin-bottom: 5px;
}
.img-login img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #9e9a9ed5;
}


.form-group input {
    color: black;
    height: 42px;
    font-size: 18px;
    border: 0;
    border: rgb(156, 153, 153) 1px solid;
    margin-top:14px;

}
.form-control {
    background: rgba(221, 213, 213, 0.5);
    transition: 0.5s ease-in;
    outline: none;
    box-shadow: none;
    color: rgb(83, 76, 76); /*Letra de los inputs*/
}
.form-control:focus {
    background: rgb(209, 209, 209);
    transition: 0.2s;
    color: rgb(41, 41, 41);
}
.form-control::placeholder {
    color: rgb(97, 92, 92);
}

.ingresar {
    padding: 10px;
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
    font-weight: 700!important;
    color: white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.568);
    transition: 0.8s ease-in;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #F3B1BD, #C7B3D6, #A1C4E8);
    margin-top: 10px;
}

.tituloM {
    font-family: 'Jua', sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-shadow: #C75CB9 0px 0px 8px;
}

.parrafoM {
    font-family: 'Mali', cursive;
}
.condicionesM {
    font-size: 14px;
    padding: 16px 0px;
    color: rgb(161, 152, 152);
    font-weight: 400;
}

.cuadro2 {
    display: flex;
    height: 50px;
    width: 375px;
}

.title-pag {
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    letter-spacing: 0.021em;
}

.volver {
    color: rgb(131, 129, 129);
    font-weight: 400;
    padding: 2px;
    margin: 10px;
}

.buttons-accont{
    display: flex;
    margin: auto;
    justify-content: center;
}

.buttons-accont button{
    background: linear-gradient(90deg, #F3B1BD, #C7B3D6, #A1C4E8);
    margin: 2px;
    border-radius: 45%;
    border: none;
    padding: 8px;
    border: rgb(156, 153, 153) 1px solid;

}

/* RESPONSIVE */
@media screen and (max-width:570px) {
    .form-group{
        display:flex;
        flex-direction: column;
    }
    .form-group button{
        margin: 10px 60px;
    }
}
@media screen and (max-width:500px) {
    .btn-close{
        display: none;
    }

    .modal-content {
        margin: 100px auto ;
        padding: 30px 20px;
        
    }
}
@media screen and (max-width:380px){

    .modal-content {
        margin: 120px 0 60px 0;
        background-color: rgb(255, 255, 255);
        opacity: .85;
        padding: 0 16px;
        
    }

    .form-group button{
        margin: 10px 5px;
    }

}

#alert-incor{
    background-color: rgb(188, 70, 224) !important;
    color: rgb(255, 255, 255) !important;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 14px;
    margin-left: 23px;
    margin-right: 23px;
}

#alert-comple{
    background-color: rgb(243, 125, 180) !important;
    color: rgb(255, 255, 255) !important;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 14px;
    margin-left: 23px;
    margin-right: 23px;
}
#alert-incor1{
    background-color: rgb(188, 70, 224) !important;
    color: rgb(255, 255, 255) !important;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 14px;
    margin-left: 23px;
    margin-right: 23px;
}

#alert-comple1{
    background-color: rgb(243, 125, 180) !important;
    color: rgb(255, 255, 255) !important;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 14px;
    margin-left: 23px;
    margin-right: 23px;
}