.fondo {
    background: linear-gradient(90deg, #FF0037, rgba(255,144,168,1), rgba(255,144,168,1))
}
.containerGeneral{
    background-color: rgba(36, 28, 28, 0.596);
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
.btn-post{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgUser{
    border-radius:250px;
    border:10px solid rgb(231, 12, 67);
    width: 50%;
}
.userName{
    text-align: center;
    position: relative;
}
.imgDeUsuario{
    display: flex;
    position: relative;
    justify-content: center;
	align-items: center;
}
.containerFooter{
    max-width: none;
    padding-left: none;
}
.btn{
    color: rgb(255, 255, 255);
    background-color: #d8536f;
}
.container-webper{
    display: flex;
    justify-content: space-between;
}
#user-web{
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
}
.publica-list{
    margin: 10px;
}
.list-public{
    padding: 10px;
}
#contenidoWeb{
    border-radius: 25px;
}
.title-pag {
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    letter-spacing: 0.021em;
}
.ingresar {
    padding: 10px;
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
    font-weight: 700!important;
    color: white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.568);
    transition: 0.8s ease-in;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #F3B1BD, #C7B3D6, #A1C4E8);
    margin-top: 6px;
}